<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemo Life</title>
    <!-- Icon Font Awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="manifest" href="./manifest.webmanifest">
    <link rel="apple-touch-icon" href="./assets/icons/icon-192x192.png">
    <link rel="icon" href="./icon-512x512.png">
    <!-- Font Googles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg" id="menuDrawer">
                <div class="container-fluid">
                    <!-- hamburgerButton -->
                    <a href="/" class="navbar-brand d-flex align-items-center link-body-emphasis text-decoration-none">
                        <img src="/images/heros/logo.png" alt="Logo" class="d-inline-block align-text-top logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                        id="hamburgerButton">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active fw-bolder" aria-current="page" href="#/dashboard-user"><i
                                        class="bi bi-home"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bolder" href="#/jadwal">Jadwal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#/profile" title="Profile"><i
                                        class="fa-solid fa-circle-user fa-xl" style="color: #e02424;"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" title="Notifikasi" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                    data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-bell"></i>
                                </a>
                            </li>
                            
                            <notifikasi-modal></notifikasi-modal>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main id="mainContent">
            <!-- Your existing content -->
        </main>
    </div>

</body>

</html>