@import 'bootstrap/dist/css/bootstrap.css';

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.card-text {
  margin-bottom: 7px;
}

img {
  display: block;
}

.download-pdf-btn {
  display: flex;
  align-items: center;
}

.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not-found {
  text-align: center;
  border-radius: 8px;
  padding: 20px;
}

.not-found-title {
  color: #e02424;
  font-size: 2em;
  margin-bottom: 10px;
}
.not-found-desc {
  color: #333;
  font-size: 18px;
}

@media (min-width: 597px) {
  .logo {
    width: 180px;
    height: auto;
  }
}

@media (max-width: 803px) {
  .logo {
    width: 100px;
    height: auto;
  }

}

@media (min-width: 768px) {
  .border-md-end {
    border-right: 2px solid #F05941;
  }
}

.border-md-end {
  padding-top: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #F05941;
}

@media (min-width: 768px) {
  .border-md-end {
    border-bottom: none;
  }

  .not-found-title {
    color: #e02424;
    font-size: 3em;
    margin-bottom: 10px;
  }

  .ledig-titel {
    font-size: 3rm;

  }
}

.navbar-nav .nav-item {
  transition: color 0.3s, transform 0.5s;
}

  .switch-lg .form-check {
    display: flex;
    align-items: center;
    border: 2px solid #F00;
    border-radius: 5px; 
    padding: 5px; 
    background-color: #FFC0CB;
  }
  
  .switch-lg .form-check-input {
    width: 3rem;
    height: 1.5rem;
    margin-right: 5px; 
  }
  
  .switch-lg .form-check-label {
    font-size: 1.2rem;
  }
  
  .switch-lg .form-check-input:hover {
    transform: scale(1.2);
  }
  
  .switch-lg .form-check-input:active {
    transform: scale(0.8);
  }
  
  /* Tambahkan gaya untuk card stok darah */
.card {
  border: 1px solid #ddd; /* Tambahkan garis tepi pada card */
  border-radius: 10px; /* Tambahkan sudut bulat pada card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk efek lift */
}

.card-body {
  padding: 20px; /* Tambahkan jarak antara isi card dan tepi card */
}

.card-title {
  font-size: 1.5rem; /* Ubah ukuran font judul card */
  margin-bottom: 15px; /* Tambahkan jarak antara judul card dan isi card */
}

.list-group-item {
  background-color: #f8f9fa; /* Warna latar belakang item dalam list-group */
  border: none; /* Hapus garis tepi item */
  border-radius: 5px; /* Tambahkan sudut bulat pada item */
  margin-bottom: 5px; /* Tambahkan jarak antara item */
}

/* Hover effect pada item */
.list-group-item:hover {
  background-color: #e2e6ea; /* Warna latar belakang saat dihover */
  cursor: pointer; /* Ganti kursor saat dihover */
}

#pendonorChart {
  width: 400px;
  height: 200px;
}
.navbar-nav .nav-link {
  transition: color 0.3s, transform 0.5s;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.0);
}

.navbar-nav .nav-link:active {
  transform: scale(0.9);
}

.switch-lg .form-check {
  display: flex;
  align-items: center;
  border: 2px solid #F00;
  border-radius: 5px;
  padding: 5px;
  background-color: #FFC0CB;
}

.bg-nav-footer {
  background-color: #ff0000;
  color: #EEEDED;
}

.social-icon:hover {
  background: #f0f0f0;
}

.footer-link {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

.footer-link:hover {
  color: #af922a;
}

.footer-link:active {
  font-size: 0.9em;
  transition: font-size 0.3s ease-in-out;
}

.nav.col-md-4 li {
  margin: 0 8px;
}

.text-body-secondary i {
  background: #ffffff;
  display: inline-block;
  width: 45px;
  height: 45px;

  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  animation: gradientChange 5s infinite alternate;
}

@keyframes gradientChange {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* .text-body-secondary i:hover {
  animation: none; 
  background: linear-gradient(to left, #ff0000, #00ff00); 
} */

.text-body-secondary i:active {
  background: linear-gradient(to left, #ff0000, #209cd9);
}

.switch-lg .form-check-input {
  width: 3rem;
  height: 1.5rem;
  margin-right: 5px;
}

.switch-lg .form-check-label {
  font-size: 1.2rem;
}

.switch-lg .form-check-input:hover {
  transform: scale(1.2);
}

.switch-lg .form-check-input:active {
  transform: scale(0.8);
}

